<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <appSettings>

    <!--Base de dados do Painel-->
    <add key="PainelServidor" value="vrsrv_dsv_db3" />
    <add key="PainelDatabase" value="Verisys_Painel" />
    <add key="PainelUsuario" value="verisys" />
    <add key="PainelSenha" value="m!nh0c@" />
    <add key="PainelLinkedServer" value="[Painel_Gerencial].[dbo]" />
    <add key="PainelMaxPool" value="80" />
    <add key="PainelMinPool" value="10" />

    <!--<add key="PainelServidor" value="VERISYS-PC01\SQLEXPRESS" />
    <add key="PainelDatabase" value="VERISYS_PAINEL" />
    <add key="PainelUsuario" value="sa" />
    <add key="PainelSenha" value="minhoca" />
    <add key="PainelLinkedServer" value="[VERISYS_PAINEL].[dbo]" />
    <add key="PainelMaxPool" value="80" />
    <add key="PainelMinPool" value="10" />-->

    <!--Base de dados do doNotCallList-->
    <add key="doNotCallServidor" value="vrsrv_dsv_db3" />
    <add key="doNotCallDatabase" value="Verisys_doNotCallList" />
    <add key="doNotCallUsuario" value="verisys" />
    <add key="doNotCallSenha" value="m!nh0c@" />
    <add key="doNotCallMaxPool" value="" />
    <add key="doNotCallMinPool" value="" />
    <add key="doNotCallLinkedServer" value="[Verisys_doNotCallList].[dbo]" />

    <!--Base de dados do ImportExport-->
    <add key="ImportExportServidor" value="vrsrv_dsv_db3" />
    <add key="ImportExportDatabase" value="Verisys_ImportExport" />
    <add key="ImportExportUsuario" value="verisys" />
    <add key="ImportExportSenha" value="m!nh0c@" />
    <add key="ImportExportMaxPool" value="" />
    <add key="ImportExportMinPool" value="" />
    <add key="ImportExportLinkedServer" value="[Verisys_ImportExport].[dbo]" />

    <!--Base de dados do Unique-->
    <!--<add key="UniqueServidor" value="vrsrv_dsv_db3" />
    <add key="UniqueDatabase" value="FIS70_PABXNew" />
    <add key="UniqueUsuario" value="verisys" />
    <add key="UniqueSenha" value="m!nh0c@" />
    <add key="UniqueLinkedServer" value="[FIS70_PABXNew].[dbo]" />
    <add key="UniqueMaxPool" value="80" />
    <add key="UniqueMinPool" value="10" />-->

    <!--<add key="UniqueServidor" value="VERISYS-PC01\SQLEXPRESS" />
    <add key="UniqueDatabase" value="UNIQUE_PRODCTITEL02" />
    <add key="UniqueUsuario" value="sa" />
    <add key="UniqueSenha" value="minhoca" />
    <add key="UniqueLinkedServer" value="[UNIQUE_PRODCTITEL02].[dbo]" />
    <add key="UniqueMaxPool" value="80" />
    <add key="UniqueMinPool" value="10" />-->

    <add key="UniqueServidor" value="srv2k332" />
    <add key="UniqueDatabase" value="UNIQUE" />
    <add key="UniqueUsuario" value="sa" />
    <add key="UniqueSenha" value="m!nh0c@" />
    <add key="UniqueLinkedServer" value="[srv2k332].[UNIQUE].[dbo]" />
    <add key="UniqueMaxPool" value="80" />
    <add key="UniqueMinPool" value="10" />

    <!--<add key="UniqueServidor" value="181.192.160.119" />
    <add key="UniqueDatabase" value="HISTORICO_PABXNEW" />
    <add key="UniqueUsuario" value="sa" />
    <add key="UniqueSenha" value="m!nh0c@" />
    <add key="UniqueLinkedServer" value="[HISTORICO_PABXNEW].[dbo]" />
    <add key="UniqueMaxPool" value="80" />
    <add key="UniqueMinPool" value="10" />-->

    <!--Base de dados Historico (Exclusivo Fidelity)-->
    <!--<add key="HistoricoUniqueServidor" value="181.192.160.119" />
    <add key="HistoricoUniqueDatabase" value="HISTORICO_PABXNEW" />
    <add key="HistoricoUniqueUsuario" value="sa" />
    <add key="HistoricoUniqueSenha" value="m!nh0c@" />
    <add key="HistoricoUniqueLinkedServer" value="[HISTORICO_PABXNEW].[dbo]" />
    <add key="HistoricoUniqueMaxPool" value="80" />
    <add key="HistoricoUniqueMinPool" value="10" />-->

    <add key="TimeOutSQL" value="180000" />

    <!--Configurações da Pagina-->
    <add key="HomePage" value="Painel/Default.aspx" />
    <add key="NameApplication" value="Painel Gerencial" />

    <!--Configuração do Gera XML-->
    <add key="PathXML_Novo" value="C:\Data\RealTime" />

    <add key="XML_CAMPANHAS" value="Campanhas.xml" />
    <add key="XML_CHAMADAS_TOTALDIA" value="Chamadas.xml" />
    <add key="XML_CHAMADAS_15MINUTOS" value="Chamadas_15min.xml" />
    <add key="XML_MAILING" value="Mailing.xml" />
    <add key="XML_RO" value="RO.xml" />
    <add key="XML_CAMPANHASRO" value="CampanhasRO.xml" />

    <add key="XML_CHAMADASRECEBIDAS_TOTALDIA" value="ChamadasRecebidas.xml" />
    <add key="XML_CHAMADASRECEBIDAS_15MINUTOS" value="ChamadasRecebidas_15min.xml" />


    <add key="XML_VENDAS" value="Vendas.xml" />
    <add key="XML_VENDAS15MINUTOS" value="Vendas_15minutos.xml" />
    <add key="XML_VENDASOPERADOR" value="VendasOperador.xml" />
    <add key="XML_VENDASOPERADOR15MINUTOS" value="VendasOperador_15minutos.xml" />

    <add key="XML_VENDAS_AFFINITY" value="Vendas_Affinity.xml" />
    <add key="XML_VENDAS_AFFINITY_OPERADOR" value="Vendas_Affinity_Operador.xml" />
    <add key="XML_VENDAS_AFFINITY_OPERADOR15MIN" value="Vendas_Affinity_Operador15min.xml" />

    <add key="TimeUpdate" value="60000" />

    <!--Configuração do Chart-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />

  </appSettings>

  <connectionStrings>

    <add name="Verisys_AEC" connectionString="Data Source=PRODCTIDATA1; Initial Catalog=Verisys_AEC; User ID=sa; Password=m!nh0c@; Connection Timeout=30; Pooling=true; Max Pool Size=80; Min Pool Size=10;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>

        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
         assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
       validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
       validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
       validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="ChartImageHandler" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
          type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd"
          preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD"
          path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD"
          path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>